{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}


{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<div class="text-center">
<h1>{% trans "Log Out" %}</h1>

<p>{% trans 'Are you sure you want to log out?' %}</p>
</div>
<form method="post" class="form-horizontal" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="text-center">
        <button class="btn btn-primary btn-lg text-uppercase" type="submit">{% trans "Log Out" %}</button>
    </div>
</form>


{% endblock %}
